.company-header {
  display: flex;
  align-items: center;
}

.message-btn {
  display: inline-block;
  padding: 0.3rem 0.8rem 0.5rem;
  margin-left: 2rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 2rem;
}

.message-btn:hover {
  transform: translateY(-2px);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.message-btn:active {
  transform: translateY(0);
}

.breadcrumb {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
}

.breadcrumb span {
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 0.8rem;
  border-radius: 0.2rem;
  white-space: nowrap;
}

.breadcrumb span.breadcrumb-link {
  cursor: pointer;
}

.breadcrumb span.breadcrumb-link:hover::before,
.breadcrumb span.breadcrumb-link:hover::after {
  transition: background-color 0.2s ease;
}

.breadcrumb:has(span.breadcrumb-company:hover)::before {
  transition: background-color 0.2s ease;
}

.breadcrumb span::before,
.breadcrumb span::after {
  position: absolute;
  left: -1rem;
  width: 100%;
  height: 50%;
  margin-left: 0.5rem;
  content: "";
  z-index: -5;
}

.breadcrumb span::before {
  top: 0;
  transform: skew(45deg);
}

.breadcrumb span::after {
  top: 50%;
  transform: skew(-45deg);
}

.breadcrumb::before {
  content: "";
  position: absolute;
  left: -0.1rem;
  top: 0;
  bottom: 0;
  width: 1.5rem;
  pointer-events: none;
}

.department-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.department-card {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
