.company-header {
  display: flex;
  align-items: center;
}

.message-button {
  display: inline-block;
  padding: 0.3rem 0.8rem 0.5rem;
  margin-left: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  background: white;
  font-size: 2rem;
}
.message-button:hover {
  background: #eee;
  transform: translateY(-2px);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.message-button:active {
  transform: translateY(0);
}

.breadcrumb {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
}

.breadcrumb span {
  color: black;
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 0.8rem;
  border-radius: 0.2rem;
  background: transparent;
}

.breadcrumb span.breadcrumb-link {
  cursor: pointer;
}

.breadcrumb span.breadcrumb-link:hover::before,
.breadcrumb span.breadcrumb-link:hover::after {
  background: #f0f8ff;
  transition: background-color 0.2s ease;
}

.breadcrumb:has(span.breadcrumb-company:hover)::before {
  background: #f0f8ff;
  transition: background-color 0.2s ease;
}

.breadcrumb span::before,
.breadcrumb span::after {
  position: absolute;
  left: -1rem;
  width: 100%;
  height: 50%;
  margin-left: 0.5rem;
  background: #dbeeff;
  content: "";
  z-index: -5;
}

.breadcrumb span::before {
  top: 0;
  transform: skew(45deg);
}

.breadcrumb span::after {
  top: 50%;
  transform: skew(-45deg);
}

.breadcrumb::before {
  content: "";
  position: absolute;
  left: -0.1rem;
  top: 0;
  bottom: 0;
  width: 1.5rem;
  background: #dbeeff;
  pointer-events: none;
}

.department-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.department-card {
  background: #f0f8ff;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
}

.department-card:hover {
  background: #dbeeff;
}
