<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Sharing Service Site</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
  </head>
  <body>
    <div th:replace="fragments/header :: header(${fullName})"></div>

    <div class="layout">
      <div th:replace="fragments/sidebar :: sidebar"></div>

      <div class="main-content">
        <h1>ようこそ、<span th:text="${fullName}">ユーザー名</span> さん！</h1>
        <p>
          所属：<span th:text="${company}">会社</span>・
          <span th:text="${department}">部署</span>
        </p>
        <p><span th:text="${roles}">ロール</span></p>
      </div>
    </div>

    <script th:src="@{/js/sidebar.js}"></script>
  </body>
</html>
